<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
    <a href="/notes">Notes</a>
    <a href="/contact">Contact</a>

    <h1>About Andrew</h1>
    <p>I am a full stack web developer and entrepreneur who currently resides in Durham, North Carolina. My passions include coding, sports, animals, technology, business, psychology, politics, and learning. I have been with my life partner Lisa for three years and we plan on getting hitched once we get off the streets, hopefully soon.</p>
    <h2>Random Facts</h2>
    <ul>
        <li>Graduated from the University of Nebraska-Lincoln in 2014</li>
        <li>Born in Rapid City, South Dakota</li>
        <li>Lived in Virginia, Montana, Nebraska, and North Carolina</li>
        <li>Former Military Brat</li>
        <li>Won state championship three years in a row at Capital High School, including my Senior Year in 2008</li>
    </ul>
    <h2>Favorite Teams</h2>
    <ul>
        <li>Nebraska Cornhuskers</li>
        <li>LSU Tigers</li>
        <li>North Carolina Tar Heels</li>
        <li>Kansas City Royals</li>
        <li>New England Patriots</li>
        <li>Kansas City Chiefs</li>
        <li>Minnesota Timberwolves</li>
        <li>Chelsea FC</li>
        <li>Carolina Hurricanes</li>
    </ul>
</body>
