---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Content by Andrew";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where you will find all of the content that I share with the internet.</p>
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>