---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Andrew's Digital Garden";
---

<BaseLayout pageTitle={pageTitle}>
	<p>My little corner of the internet.</p>
</BaseLayout>
		

